/* red target */
div {
    width: 100px;
    height: 100px;
    padding: 50px;
    background-color: red;
    border: 1px dashed solid black;
    box-sizing: border-box;
}
/* shaped table */
 table {

 }
